RIOT_KEY=RAPLACE_WITH_YOUR_API_KEY
RIOT_BASE_API=https://br1.api.riotgames.com
TFT_SUMMONER=${RIOT_BASE_API}/tft/summoner/v1/summoners/by-name
LOL_SUMMONER=${RIOT_BASE_API}/lol/summoner/v4/summoners/by-name
TFT_SUMMONER_INFO=${RIOT_BASE_API}/tft/league/v1/entries/by-summoner
LOL_SUMMONER_INFO=${RIOT_BASE_API}/lol/league/v4/entries/by-summoner